body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.empresa-form {
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  max-width: 400px;
}

.empresa-form div {
  margin-bottom: 12px;
}

.empresa-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.empresa-form input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.empresa-form button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  
}

.empresa-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.empresa-card {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  min-width: 250px;
  max-width: 300px;
}

.empresa-card button {  
  background: #dc3545;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

h2{
  margin-top: 3%;
  margin-bottom: 2%;
  color: #000000;
  text-align: center;
}

.boton-funcional {
   background: #007bff;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.botones-container {
  display: flex;
  align-items: center;
  padding: 2%;
  margin-left: 3px;
  gap: 24px; /* Espacio entre los botones */
  justify-content: center; /* Centra los botones horizontalmente */
gap: 24px;
  
}

.input-busqueda {
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 20px;
  padding: 8px;
  width: 100%;
  max-width: 400px;
}